.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  background-color: #0151cc;
  color: #fff;
  min-height: 400px;

  h1 {
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
  }

  img {
    max-width: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  //changes flex direction to column - stacks the header + picture
  .header {
    .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
  }
}
