<section class="boxes">
  <div class="container">
    <div class="box">
      <h2>
        <i class="fas fa-arrows-alt-v"></i>
        Alignment & space
      </h2>
      <p>A more efficient way to lay out, and distribute space among items in a container</p>
    </div>

    <div class="box">
      <h2>
        <i class="fas fa-arrows-alt"></i>
        Tricky Positioning
      </h2>
      <p>
        Flexbox usually solves tricky problems including how to position or dynamically resize
        elements on a page
      </p>
    </div>

    <div class="box">
      <h2>
        <i class="fas fa-mobile"></i>
        Responsive Design
      </h2>
      <p>Flexbox makes building a website layout (and making it responsvive!) much, much easier</p>
    </div>
  </div>
</section>
