.navbar {
  background: #3474e6;
  color: #fff;
  height: 60px;

  .logo {
    font-size: x-large;
    font-weight: bold;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }

  a:hover {
    color: lightblue;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 20px;
      }
    }
  }
}
